.multiple-choice li {
  padding: 1.5rem;
  background-color: #f2f3f4;
  color: #031323;
  margin-bottom: 0.7rem;
  list-style: none;
}

.multiple-choice .selected {
  background-color: #cdcdcd;
}

.multiple-choice li:hover {
  background-color: #cdcdcd;
  cursor: pointer;
}

.multi-low {
  color: #de521d;
  font-weight: 600;
}

.multi-medium {
  color: #fcb514;
  font-weight: 600;
}

.multi-high {
  color: #2bbf6a;
  font-weight: 600;
}
