.scale-list {
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
}

.scale-list li {
  width: 74px;
  height: 74px;
  background-color: #f2f3f4;
  border-right: 3px solid white;
}

.scale-list .filled {
  background-color: #ab61e5;
  border-right: 3px solid white;
}

.measures {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.measures :first-child {
  padding-left: 3px;
}

.measures :last-child {
  padding-right: 14px;
}
