textarea {
  outline: 0;
  padding: 1rem;
  font-size: 16px;
  resize: none;
  height: 200px;
  border: 1px solid #d9dcde;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d9dcde;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #d9dcde;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #d9dcde;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #d9dcde;
}
