.people-list li {
  height: 96px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(172, 177, 182, 0.33);
}

.people-list li:hover {
  background-color: rgba(213, 176, 242, 0.1);
}

.people-list button:hover {
  cursor: pointer;
}

.people-list img {
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.person-name {
  color: #59636e;
  font-size: 22px;
  text-align: left;
  flex-grow: 1;
}
