.report {
  max-width: 780px;
}

.report-content {
  display: flex;
  flex-direction: column;
  width: 1180px;
}

.report-content li {
  list-style: none;
  font-style: Helvetica;
  font-size: 20px;
  margin: 2rem 1rem;
}

.report .response {
  display: flex;
  flex-direction: row;
}

.report .answer {
  color: #ab61e5;
  width: 200px;
  margin-left: 2rem;
}

.report .question {
  width: 480px;
}
