.main-title {
  color: #031323;
  font-size: 31px;
  line-height: 36px;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

.people-list {
  list-style: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  line-height: 26px;
}

.people-list li {
  height: 96px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(172, 177, 182, 0.33);
}

.people-list li:hover {
  background-color: rgba(213, 176, 242, 0.1);
}

.people-list img {
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.person-name {
  color: #59636e;
  font-size: 22px;
  text-align: left;
  flex-grow: 1;
}
