footer {
  height: 54px;
  color: white;
  display: flex;
  background: #031323;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
  padding-right: 2rem;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .copyright {
  font-size: 12px;
}
